.link {
  text-decoration: none;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffffff;
  width: 128px;
  height: 128px;
  padding: 16px;
  border-radius: 20px;
  transition: transform 0.3s;
}

.p {
  color: white;
  font-size: 34px;
  font-weight: 900;
  padding-right: 29px;
}

.box:hover {
  background: linear-gradient(to bottom right, #ff0066 0%, #ff6600 100%);
  border: 1px solid #000000;
  transform: translateY(-8px);
}
