.div {
  margin-top: 150px;
  margin-left: 10px;
}

.heading {
  font-size: 80px;
  margin-rigth: 20px;
}

.main {
  font-size: 20px;
  font-weight: 900;
}

.points {
  margin-left: 30px;
}

.highlight {
  display: inline-block;
  background: linear-gradient(to bottom right, #ff0066 0%, #ff6600 100%);
  border-radius: 80px;
  padding: 0 30px;
}

.box {
  margin-top: 80px;
  margin-left: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a2a2a;
  width: 300px;
  height: 290px;
  border-radius: 20px;
}

.input {
  color: white;
  background-color: #232223;

  border-radius: 5px;
  margin-right: 50px;
}

.button {
  margin-top: 30px;
  margin-left: 30px;
}

.createPool {
  border-radius: 7px;
  background-color: #ffffff;
  color: #000000;
  font-size: 15px;
  font-weight: 900;
  border: none;
  transition: transform 0.3s;
}

.createPool:hover {
  background: linear-gradient(to bottom right, #ff0066 0%, #ff6600 100%);
  transform: translateY(-8px);
}

.reciept {
  margin-top: 40px;
  margin-left: 300px;
  font-weight: 900;
}

.misc {
  margin-left: 300px;
}
